<% provide(:title, "New user") %>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        New user
      </h1>
      <h2 class="subtitle">
        Please enter your info
      </h2>
    </div>
  </div>
</section>
<div class="container">
  <div class="columns">
    <%= render "users/form"%>
  </div>
</div>

