html {
  min-height: 100%;
  position: relative;
}

.margin-bottom {
  margin-bottom: 168px;
}

.form-margin {
  margin-left: 50px;
  margin-right: 50px;
}

.main-container {
  padding-left: 20px;
  padding-right: 20px;
}

.is-center {
  text-align: center;
}

footer {
  &.fix-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;;
    padding-bottom: 3rem;
  }
}

