html {
  min-height: 100%;
  position: relative;
}

.margin-bottom {
  margin-bottom: 168px;
}

footer {
  &.fix-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;;
    padding-bottom: 3rem;
  }
}

